body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    display: flex;
}

html{
    height: 100%;
}

#root{
    width: 100%;
}

*{
    box-sizing: border-box;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #f00;
  }