/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
}

@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans.woff2") format("woff2"), url("../assets/fonts/GillSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-BoldItalic.woff2") format("woff2"), url("../assets/fonts/GillSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-Italic.woff2") format("woff2"), url("../assets/fonts/GillSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-Bold.woff2") format("woff2"), url("../assets/fonts/GillSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/GillSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-LightItalic.woff2") format("woff2"), url("../assets/fonts/GillSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-SemiBold.woff2") format("woff2"), url("../assets/fonts/GillSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-Light.woff2") format("woff2"), url("../assets/fonts/GillSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/fonts/GillSans-UltraBold.woff2") format("woff2"), url("../assets/fonts/GillSans-UltraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  display: flex;
  font-weight: 600;
}

html {
  height: 100%;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.sweet-alert .btn {
  padding: 0.5rem 0.9375rem;
  border-radius: 0.3125rem;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease;
  font-size: 1rem;
  outline: none;
}

.sweet-alert .btn:hover {
  transition: all 0.2s ease;
  opacity: 0.8;
}

.sweet-alert .btn-danger {
  background: rgb(212, 63, 58);
  color: #fff;
}

.sweet-alert .btn-success {
  background: rgb(76, 174, 76);
  color: #fff;
}

.sweet-alert .btn-warning {
  background: rgb(238, 162, 54);
  color: #fff;
}

.sweet-alert .btn-primary {
  background: #222b51;
  color: #fff;
}

.css-jgzxgq-MuiDataGrid-root {
  border-radius: 10px !important;
  border: none !important;
}
.css-jgzxgq-MuiDataGrid-root .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  color: #0A033C;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.css-jgzxgq-MuiDataGrid-root .MuiDataGrid-cellContent,
.css-jgzxgq-MuiDataGrid-root .css-pdct74-MuiTablePagination-selectLabel,
.css-jgzxgq-MuiDataGrid-root .css-194a1fa-MuiSelect-select-MuiInputBase-input.MuiSelect-select,
.css-jgzxgq-MuiDataGrid-root .css-levciy-MuiTablePagination-displayedRows,
.css-jgzxgq-MuiDataGrid-root .css-de9k3v-MuiDataGrid-selectedRowCount {
  color: #808080;
  font-size: 16px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root.MuiButton-containedPrimary {
  background-color: #212F53;
  box-shadow: none;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root.MuiButton-containedPrimary:hover {
  background-color: #58687F;
}

.MuiOutlinedInput-input.MuiInputBase-input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #808080;
  font-size: 0.875rem;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: #808080 !important;
  font-size: 0.875rem !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #f5f5f5 !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #7FA0C7 !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-family: "Gill Sans", sans-serif !important;
  font-weight: 600 !important;
}

/*# sourceMappingURL=index.css.map */
